
@model DataBasesAndModels.Models.Character
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создание персонажа</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Имя")
    <br />
    @Html.EditorFor(model => model.Name)
    <br /><br />

    @Html.LabelFor(model => model.Surname, "Фамилия")
    <br />
    @Html.EditorFor(model => model.Surname)
    <br /><br />

    @Html.LabelFor(model => model.Age, "Возраст")
    <br />
    @Html.EditorFor(model => model.Age)
    <br /><br />

    @Html.LabelFor(model => model.Gender, "Пол(1=М,2=Ж)")
    <br />
    @Html.DropDownListFor(Model => Model.Gender, ViewBag.GenderOptions as SelectList)
    <br /><br />

    @Html.LabelFor(model => model.FatherId, "Отец")
    <br />
    @Html.DropDownListFor(Model => Model.MotherId, ViewBag.Fathers as SelectList)
    <br /><br />

    @Html.LabelFor(model => model.MotherId, "Мать")
    <br />
    @Html.DropDownListFor(Model => Model.MotherId, ViewBag.Mothers as SelectList)
    <br /><br />

    @Html.LabelFor(model => model.CoupleId, "Партнер")
    <br />
    @Html.DropDownListFor(Model => Model.CoupleId, ViewBag.Couples as SelectList)
    <br /><br />

    @Html.LabelFor(model => model.StreetId, "Улица")
    <br />
    @Html.DropDownListFor(Model => Model.StreetId,ViewBag.Streets as SelectList)
    <br /><br />

    @Html.LabelFor(model => model.HouseId, "Номер дома(необязательно)")
    <br />
    @Html.EditorFor(model => model.HouseId)
    <br /><br />




    <input type="submit" value="Создать" />
}

