@model DataBasesAndModels.Models.Character

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Street.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoupleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoupleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
