@model MVC5training_2.Models.Purchase 
   <div>
        <h3>Форма оформления покупки</h3>
       @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
       {
            @Html.HiddenFor(m => m.BookID)
            @Html.LabelFor(m => m.Name, "Введите свое имя")
            <br />
            @Html.TextBoxFor(m => m.Name)
            <br /><br />
            @Html.LabelFor(m => m.Address, "Введите адрес")
            <br />
            @Html.TextBoxFor(m => m.Address)
            <p><input type="submit" value="Отправить" /></p>
       }
    </div>
@section Footer {
    TillZasChanged 2
}