@using MVC5training_2.Models
@model IEnumerable<Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper BookList(IEnumerable<MVC5training_2.Models.Book> books)
{
    <ul>
        @foreach (MVC5training_2.Models.Book b in books)
        {
            <li>
                <td><p>Название: @b.Name</p></td>
                <td><p>Автор:    @b.Author</p></td>
                <td><p>Цена:     @b.Price р.</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Оформить покупку.</a></p></td>
            </li>
        }
    </ul>
}

    <div>
        <h3>Распродажа книг</h3>
        <!--
        <table>
            <tr>
                <td><p>Название книги</p></td>
                <td><p>Автор</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            @foreach (Book b in Model)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                </tr>
            }
        </table>-->
        @BookList(Model)
    </div>
@section Footer {
    TillZasChanged
}